@using LMS.Infrastructure.HtmlHelpers

<ul class="nav nav-pills nav-stacked sidebar" id="UserSidebar">
    <li class="lms-sidebar-item">
        @Html.SidebarItem("refresh", "Refresh", "Refresh content", style: "RefreshSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("filter", "Filter", "Filter content of the table", style: "FilterSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("add", "Add", "Add new item", style: "AddSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("edit", "Edit", "Edit language", style: "EditSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("delete", "Delete", "Delete language", style: "DeleteSideBar")
    </li>
    <li class="lms-sidebar-item lms-sidebar-item-disabled">
        @Html.SidebarItem("cancel", "Cancel", "Cancel action", style: "CancelSideBar")
    </li>
</ul>


