@using LMS.Infrastructure.HtmlHelpers
@using LMS.Infrastructure.Authorization
@using LMS.Infrastructure.Authorization.Constants

<ul class="nav nav-pills nav-stacked sidebar" id="UserSidebar">
    <li class="lms-sidebar-item">
        @Html.SidebarItem("refresh", "Refresh", "Refresh content", style: "RefreshSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("filter", "Filter", "Filter content of the table", style: "FilterSideBar")
    </li>

    @if (Session[SessionConstant.USER] != null)
    {
        var currentUser = (UserSessionObject)Session[SessionConstant.USER];

        if (Html.HasPermission(currentUser, PermissionEnum.ViewAddUser.ToString()))
        {
            <li class="lms-sidebar-item">
                @Html.SidebarItem("add", "Add", "Add new user", style: "AddSideBar")
            </li>
        }

        if (Html.HasPermission(currentUser, PermissionEnum.EditUser.ToString()))
        {
            <li class="lms-sidebar-item">
                @Html.SidebarItem("edit", "Edit", "Edit user", style: "EditSideBar")
            </li>
        }

        if (Html.HasPermission(currentUser, PermissionEnum.DeleteUser.ToString()))
        {
            <li class="lms-sidebar-item">
                @Html.SidebarItem("delete", "Delete", "Delete user", style: "DeleteSideBar")
            </li>
        }

        <li class="lms-sidebar-item lms-sidebar-item-disabled">
            @Html.SidebarItem("cancel", "Cancel", "Cancel action", style: "CancelSideBar")
        </li>
    }
</ul>