@using LMS.Infrastructure.Authorization
@using LMS.Infrastructure.Authorization.Constants
@model IEnumerable<LMS.Models.ViewModels.Book.BookViewModel>

@{
    var currentUser = (UserSessionObject)Session[SessionConstant.USER];
}

<div class="col-md-10 col-md-offset-1" style="height:600px;">
    <div class="lms-overview-button-set">
        @if(Html.HasPermission(currentUser, PermissionEnum.ViewAddEBook.ToString()))
        {
            <a class="btn btn-success lms-add-new-ebook-btn" href="/EBook/EBook/ViewForm">Add new e-book</a> 
        }

        @if(Html.HasPermission(currentUser, PermissionEnum.ViewSearchEBook.ToString()))
        {
            <a class="btn btn-danger lms-search-ebook-btn" href="/EBook/EBook/ViewSearch">Search for specific</a>
        }
            
    </div>

    <div>
        @if (Model.Count() != 0)
        {
            <table class="display lms-ebook-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publication year</th>
                        <th>Language</th>
                        <th>Category</th>
                        <th>Keywords</th>
                        <th>Delete</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ebook in Model)
                {
                        <tr id="@ebook.Id">
                            <td>@ebook.Title</td>
                            <td>@ebook.Author</td>
                            <td>@ebook.PublicationYear</td>
                            <td>@ebook.Language</td>
                            <td>@ebook.Category</td>
                            <td>@ebook.Keywords</td>
                            <td id="@ebook.Id" class="lms-ebook-delete-btn">
                                <img src="~/Resources/Images/delete_trash.png" />
                            </td>
                            <td id="@ebook.Id|@ebook.Filename" class="lms-ebook-download-btn">
                                <img src="~/Resources/Images/download.png"/>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="lms-main-message-no-ebooks">Currently there are no active e-books.</p>
            <p class="lms-sub-message-no-ebooks">You can check if book you want to read is available for borrowing.</p>
            <img src="~/Resources/Images/info3.jpg"/>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var table = $(".lms-ebook-table").DataTable({
            "pagingType": "full_numbers",
            "scrollY": "50vh",
            "scrollCollapse": true,
        });
        

        $(".lms-ebook-table tbody").on("click", "tr", function () {
            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");
            }
            else {
                table.$("tr.selected").removeClass("selected");
                $(this).addClass("selected");
            }
        }); 
    });
</script>