@using LMS.Infrastructure.HtmlHelpers

<ul class="nav nav-pills nav-stacked sidebar" id="CategorySidebar">
    <li class="lms-sidebar-item">
        @Html.SidebarItem("refresh", "Refresh", "Refresh table", style: "RefreshSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("filter", "Filter", "Filter categories", style: "FilterSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("add", "Add", "Add new category", style: "AddSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("edit", "Edit", "Edit category", style: "EditSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("delete", "Delete", "Delete category", style: "DeleteSideBar")
    </li>
    <li class="lms-sidebar-item lms-sidebar-item-disabled">
        @Html.SidebarItem("cancel", "Cancel", "Cancel action", style: "CancelSideBar")
    </li>
</ul>
