@model LMS.Models.ViewModels.Book.BookViewModel
@using LMS.Infrastructure.HtmlHelpers
@using LMS.Infrastructure.HtmlHelpers.Utility

@{ 
    var editMode = Model.Id != 0 ? true : false;
}
<div class="panel panel-default">
    <div class="panel-body">
        @Html.DialogTitle(value: "Book")
        <form action="/Book/Book/Save" method="post" id="BookForm" class="form-horizontal">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.IsActive)
            @Html.HiddenFor(model => model.UserCreatedById)
            @Html.HiddenFor(model => model.UserCreatedBy)
            @Html.HiddenFor(model => model.DateTimeCreatedOn)
            @Html.HiddenFor(model => model.UserDeletedById)
            @Html.HiddenFor(model => model.UserDeletedBy)
            @Html.HiddenFor(model => model.DateTimeDeletedOn)

            @Html.SimpleFormInput(model => model.Title, "Title:", inputValue: Model.Title)
            @Html.SimpleFormInput(model => model.Author, "Author:", inputValue: Model.Author)
            @Html.SimpleFormInput(model => model.PublicationYear, "Publication year:",
                inputType: FormInputType.NUMBER, specialInputClass: "SpecificInputType", 
                inputValue: Model.PublicationYear.ToString())
            @Html.SimpleFormInput(model => model.NumOfAvailableCopies, "Number of copies:", 
                inputType: FormInputType.NUMBER, specialInputClass: "SpecificInputType", 
                inputValue: Model.NumOfAvailableCopies.ToString())
            @Html.DropDownSelect(model => model.CategoryId, "Category:", selectValue: @Model.CategoryId, 
                innerDivSpecialClass: "lms-selectpicker", selectionSource: "/Category/Category/GetSelect", 
                value: Model.CategoryId.ToString(), edit: editMode)
            @Html.DropDownSelect(model => model.LanguageId, "Language:", selectValue: @Model.CategoryId,
                innerDivSpecialClass: "lms-selectpicker", selectionSource: "/Language/Language/GetSelect",
                value: Model.LanguageId.ToString(), edit: editMode)

            @Html.FormSubmit(newLine: true)
        </form>
    </div>
</div>
