<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")   
    @Scripts.Render("~/bundles/jqueryUI")    
    @Scripts.Render("~/bundles/dialogs")
    @Scripts.Render("~/bundles/dialogs/chat")
    @Scripts.Render("~/bundles/dialogs/user")
    @Scripts.Render("~/bundles/dialogs/category")
    @Scripts.Render("~/bundles/dialogs/language")
    @Scripts.Render("~/bundles/dialogs/book")
    @Scripts.Render("~/bundles/ebook")
    @Scripts.Render("~/bundles/grid")
    @Scripts.Render("~/bundles/ribbon")
    @Scripts.Render("~/bundles/select")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/css")
    @Scripts.Render("~/bundles/datatables")
    
    @Styles.Render("~/bootstrap/css")
    @Styles.Render("~/jqueryUI/css")
    @Styles.Render("~/select/css")
    @Styles.Render("~/toastr/css")
    @Styles.Render("~/custom/css")
    @Styles.Render("~/datatables/css")
</head>
<body>
    @if (@Request.RawUrl != "/Account")
    {
        @Html.Partial("Header")
    }

    <div class="lms-main-container">
        <div id="Dialog">
        </div>

        <div class="body-content">
            @RenderBody()
        </div>
    </div>

    @if (@Request.RawUrl != "/Account")
    {
        @Html.Partial("Footer")
    }

    @RenderSection("chatScripts", required: false)

</body>
</html>
