<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/dialogs")
    @Scripts.Render("~/bundles/dialogs/chat")
    @Scripts.Render("~/bundles/dialogs/user")
    @Scripts.Render("~/bundles/grid")
    @Scripts.Render("~/bundles/ribbon")
    @Scripts.Render("~/bundles/select")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/css")

    @Styles.Render("~/Content/css")
</head>
<body>
    @if (@Request.RawUrl != "/Account")
    {
        @Html.Partial("Header")
    }

    <div class="container">
        <div id="Dialog">
        </div>

        <div class="body-content">
            @RenderBody()
        </div>
    </div>

    @if (@Request.RawUrl != "/Account")
    {
        @Html.Partial("Footer")
    }

</body>
</html>
