@model LMS.Models.ViewModels.Account.PasswordChangeViewModel
@using LMS.Infrastructure.HtmlHelpers.Utility
@using LMS.Infrastructure.HtmlHelpers

<div class="panel panel-default">
    <div class="panel-body">
        @Html.DialogTitle(value: "Change password")
        <form action="/Profile/Profile/ChangePassword" method="post" id="ChangePasswordForm" class="form-horizontal">

            @Html.SimpleFormInput(model => model.OldPassword, "Old password:", inputType: FormInputType.PASSWORD)
            @Html.SimpleFormInput(model => model.NewPassword, "New password:", inputType: FormInputType.PASSWORD)
            @Html.SimpleFormInput(model => model.RepeatPassword, "Repeat password:", inputType: FormInputType.PASSWORD)

            @Html.FormSubmit("Confirm", true, specialBtnClass: "ChangePasswordBtn", type: "button")
        </form>
    </div>
</div>
