@using LMS.Infrastructure.HtmlHelpers
@using LMS.Infrastructure.Authorization
@using LMS.Infrastructure.Authorization.Constants

<ul class="nav nav-pills nav-stacked sidebar" id="BookSidebar">
    <li class="lms-sidebar-item">
        @Html.SidebarItem("refresh", "Refresh", "Refresh table", style: "RefreshSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("filter", "Filter", "Filter books", style: "FilterSideBar")
    </li>

    @if (Session[SessionConstant.USER] != null)
    {
        var currentUser = (UserSessionObject)Session[SessionConstant.USER];

        if (Html.HasPermission(currentUser, new List<string> { PermissionEnum.ViewAddBook.ToString() }))
        {
            <li class="lms-sidebar-item">
                @Html.SidebarItem("add", "Add", "Add new book", style: "AddSideBar")
            </li>
        }

        if (Html.HasPermission(currentUser, new List<string> { PermissionEnum.EditBook.ToString() }))
        {
            <li class="lms-sidebar-item">
                @Html.SidebarItem("edit", "Edit", "Edit book", style: "EditSideBar")
            </li>
        }

        if (Html.HasPermission(currentUser, new List<string> { PermissionEnum.DeleteBook.ToString() }))
        {
            <li class="lms-sidebar-item">
                @Html.SidebarItem("delete", "Delete", "Delete book", style: "DeleteSideBar")
            </li>
        }

        <li class="lms-sidebar-item lms-sidebar-item-disabled">
            @Html.SidebarItem("cancel", "Cancel", "Cancel action", style: "CancelSideBar")
        </li>
    }
</ul>
